<header>
  Airport Dashboard
</header>

<aside>
  <ul>
    <li>Get Flights</li>
    <li>Track a Flight</li>
    <li>Maps</li>
  </ul>
</aside>

<section>
<% @airports.each do |airport| %>
  <div>
      <%= link_to "/details?id=#{airport.id}&zoom=8" do %>
        <h1><%= airport.code %></h1>
        <i class="fa fa-plane"></i>
        <h2><%= airport.min_delay  %> minutes</h2>
      <% end %>
  </div>

<% end %>

</section>







